In [1]:
import pandas as pd
import random

# Professors
professors = ["Luis", "Carlos", "Esther", "Juan", "Beatriz", "Felipe", "Raquel", "Manuel", "Silvia", "Victor", 
              "Santiago", "Eva", "Pablo", "Lucía", "Fernando", "Carmen", "Javier", "Teresa", "Antonio", "Ana"]

# Alumnes
alumnes = ["Xavier", "Marc", "Jaume", "Laura", "Jordi", "Sara", "Pau", "Clara", "Oriol", "David", 
           "Núria", "Miquel", "Pol", "Joan", "Arnau", "Anna", "Carles", "Marta", "Sònia", "Ivan"]

# Notes
notes = {
    "M01": [random.randint(0, 10) for _ in range(20)],
    "M04": [random.randint(0, 10) for _ in range(20)],
    "M03": [random.randint(0, 10) for _ in range(20)],
    "M05": [random.randint(0, 10) for _ in range(20)],
}

# Crear el DataFrame
data = {
    "Professor": [professors[i % len(professors)] for i in range(20)],
    "Alumne": alumnes,
    "M01": notes["M01"],
    "M04": notes["M04"],
    "M03": notes["M03"],
    "M05": notes["M05"],
}

df = pd.DataFrame(data)

# Guardar el DataFrame com a CSV
df.to_csv("notes_alumnes.csv", index=False)

# Mostrar les dades
print(df)

   Professor  Alumne  M01  M04  M03  M05
0       Luis  Xavier    6    5    8    1
1     Carlos    Marc    8    5    7    6
2     Esther   Jaume    3    4    4    7
3       Juan   Laura    6    3    1    1
4    Beatriz   Jordi   10   10    9    2
5     Felipe    Sara    5    3    5   10
6     Raquel     Pau    2    9    0    8
7     Manuel   Clara    8    7    5    2
8     Silvia   Oriol    0    5    7   10
9     Victor   David    9    0    2    1
10  Santiago   Núria    2    9    9    7
11       Eva  Miquel    3    6    4   10
12     Pablo     Pol    8    7    5    3
13     Lucía    Joan    6    0    9    4
14  Fernando   Arnau    2    0    0    4
15    Carmen    Anna   10    9   10    3
16    Javier  Carles    3    7    6    8
17    Teresa   Marta    3    4    9    5
18   Antonio   Sònia   10    3    2   10
19       Ana    Ivan    1    6    5    5